<div class="wrapper">
    <app-topnavbar></app-topnavbar>
    <app-supplement-sidebar></app-supplement-sidebar>

    <div class="content-wrapper">
        <div class="content-header">
              <div class="container-fluid">
                    <div class="row mb-2">
                            <div class="col-sm-6">
                                   <h1 class="m-0">Supplements</h1>
                            </div><!-- /.col -->
                            <div class="col-sm-6">
                                 <ol class="breadcrumb float-sm-right">
                                       <li class="breadcrumb-item"><a href="#">Home</a></li>
                                       <li class="breadcrumb-item active">supplement</li>
                                 </ol>
                            </div><!-- /.col -->
                    </div><!-- /.row -->
               </div><!-- /.container-fluid -->
        </div>
        <section class="content">
              <div class="container-fluid">
                    <div class="row">
                          <div class="col-12 col-md-3 col-sm-6">
                             <a routerLink="/supplement/patient-supplement-list">
                             <div class="info-box mb-3">
                                  <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-vials"></i></span>
                                  <div class="info-box-content">
                                      <span class="info-box-text">Patient Supplement</span>
                                      <span class="info-box-number"></span>
                                  </div>

                             </div>
                             </a>
                          </div>
                          <div class="col-12 col-md-3 col-sm-6">
                                <a routerLink="/supplement/stock-supplement">
                              <div class="info-box mb-3">

                                  

                                      <span class="info-box-icon bg-success elevation-1"><i class="fas fa-vial"></i></span>

                                      <div class="info-box-content">
                                        <span class="info-box-text">Supplement Stocks</span>
                                        <span class="info-box-number"></span>
                                      </div>

                                   


                              </div>
                              </a>
                          </div>

                          <div class="col-12 col-md-3 col-sm-6">
                                <a routerLink="/supplement-sales/supplement-markets/">
                                      <div class="info-box mb-3">

                                            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-flask"></i></span>

                                            <div class="info-box-content">
                                              <span class="info-box-text">Markets (sales)</span>
                                              <span class="info-box-number"></span>
                                            </div>

                                      </div>
                                </a>
                                   
                          </div>
                    </div>

              </div>
        </section>

  </div>


<!--<div>
    <div class="">
          <a routerLink="/supplement/patient-supplement-list">
               patient supplement
          </a>
    </div>
    <div class="">
        <a routerLink="/supplement/stock-supplement">
             supplement stocks
        </a>
    </div>
    <div class="">
        <a routerLink="">
             Supplement Sales
        </a>
    </div>

</div>-->


     <app-footer></app-footer>
</div> 
