<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a routerLink="/dashboard" class="brand-link text-center">
        <!--<img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">-->
        <span class="brand-text font-weight-bold">AGADARKO</span>
    </a>

    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
             <i class="fas fa-user-circle fa-3x"></i>
            <!--<img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">-->
          </div>
          <div class="info">
            <a href="#" class="d-block">Alexander Pierce</a>
          </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a routerLink="/dashboard" class="nav-link">
                      <i class="nav-icon fas fa-tachometer-alt"></i>
                      <p>
                       Dashboard
                       
                      </p>
                   </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-wheel-chair"></i>
                    <p>
                     Settings
                      <i class="right fas fa-angle-left"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a href="/users" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>User Management</p>
                      </a>
                    </li>

                    <li class="nav-item">
                        <a href="/groups" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Groups Managment</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/opd-vitals" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>OPD VITALS</p>
                        </a>
                    </li>
                    <li class="nav-item">
                      <a href="/cardfees" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Card renewal fees</p>
                      </a>
                  </li>



                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Markets (sales)</p>
                      </a>
                  </li>



                  </ul></li>




            </ul>
        </nav>
    
    </div>



</aside>
