<div class="wrapper">
      <app-topnavbar></app-topnavbar>
      <app-laboratory-sidebar></app-laboratory-sidebar>
      <div class="content-wrapper">
            <div class="content-header">
                  <div class="container-fluid">
                        <div class="row mb-2">
                                <div class="col-sm-6">
                                       <h1 class="m-0">Laboratory</h1>
                                </div><!-- /.col -->
                                <div class="col-sm-6">
                                     <ol class="breadcrumb float-sm-right">
                                           <li class="breadcrumb-item"><a href="#">Home</a></li>
                                           <li class="breadcrumb-item active">patient</li>
                                     </ol>
                                </div><!-- /.col -->
                        </div><!-- /.row -->
                   </div><!-- /.container-fluid -->
            </div>
            <section class="content">
                  <div class="container-fluid">
                        <div class="row">
                              <div class="col-12 col-md-3 col-sm-6">
                                 <a routerLink="/laboratory/patient-laboratory">
                                 <div class="info-box mb-3">
                                      <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-vials"></i></span>
                                      <div class="info-box-content">
                                          <span class="info-box-text">In Patients Laboratory</span>
                                          <span class="info-box-number"></span>
                                      </div>

                                 </div>
                                 </a>
                              </div>
                              <div class="col-12 col-md-3 col-sm-6">
                                    <a routerLink="">
                                  <div class="info-box mb-3">

                                      

                                          <span class="info-box-icon bg-success elevation-1"><i class="fas fa-vial"></i></span>

                                          <div class="info-box-content">
                                            <span class="info-box-text">Outside Laboratory</span>
                                            <span class="info-box-number"></span>
                                          </div>

                                       


                                  </div>
                                  </a>
                              </div>

                              <div class="col-12 col-md-3 col-sm-6">
                                    <a routerLink="/laboratory/laboratory-test">
                                          <div class="info-box mb-3">

                                                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-flask"></i></span>

                                                <div class="info-box-content">
                                                  <span class="info-box-text">Laboratory Test Setup</span>
                                                  <span class="info-box-number"></span>
                                                </div>

                                          </div>
                                    </a>
                                       
                              </div>
                        </div>

                  </div>
            </section>

      </div>
<!--<div class="">
    <div class="">
          <a routerLink="">
                Patient Lab
          </a>
    </div>
    <div class="">
        <a routerLink="/">
              Outside Patient Lab
        </a>
    </div>
    <div class="">
        <a routerLink="">
              Lab List
        </a>
    </div>

</div>-->

        <app-footer></app-footer>
</div> 