
<div class="container" style="padding-top:50px">
      <div class="row">
            <div class="col-md-4 m-auto">
                <div class="login-container card p-3">
                       <div class="m-auto text-center">
                              <i class="fas fa-user-circle" style="font-size:10em"></i>
                       </div>
                       <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label for="user">Username</label>
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>

                            </div>
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label for="user">Password</label>
                                    <input type="password" class="form-control" placeholder="Password">
                                </div>

                            </div>
                            <div class="col-md-12">
                                  <button class="btn btn-success">login</button>
                            </div>


                       </div>
                </div>
            </div>
      </div>

</div>

