<div class="wrapper">
    
    <app-srttingsidebar></app-srttingsidebar>
    <app-topnavbar></app-topnavbar>

   
    <div class="content-wrapper">
        <div class="content-header">
              <div class="container-fluid">
                    <div class="row mb-2">
                            <div class="col-sm-6">
                                   <h1 class="m-0">Settings</h1>
                            </div><!-- /.col -->
                            <div class="col-sm-6">
                                 <ol class="breadcrumb float-sm-right">
                                       <li class="breadcrumb-item"><a href="#">Home</a></li>
                                       <li class="breadcrumb-item active">settings</li>
                                 </ol>
                            </div><!-- /.col -->
                    </div><!-- /.row -->
               </div><!-- /.container-fluid -->
        </div>
        <section class="content">
              <div class="container-fluid">
                     <div class="row">
                           

                        <div class="col-12 col-md-3 col-sm-6">
                                <a routerLink="/users">
                                      <div class="info-box mb-3">
                                               <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-user"></i></span>
                                               <div class="info-box-content">
                                                    <span class="info-box-text">User Management</span>
                                                    <span class="info-box-number"></span>
                                               </div>

                                       </div>
                               </a>
                        </div>


                        <div class="col-12 col-md-3 col-sm-6">
                            <a routerLink="/groups">
                                  <div class="info-box mb-3">
                                           <span class="info-box-icon bg-success elevation-1"><i class="fas fa-users"></i></span>
                                           <div class="info-box-content">
                                                <span class="info-box-text">Groups</span>
                                                <span class="info-box-number"></span>
                                           </div>

                                   </div>
                           </a>
                       </div>
                        
                       <div class="col-12 col-md-3 col-sm-6">
                               <a routerLink="/opd-vitals">
                                     <div class="info-box mb-3">
                                           <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-thermometer"></i></span>
                                           <div class="info-box-content">
                                                <span class="info-box-text">OPD VITALS</span>
                                                <span class="info-box-number"></span>
                                           </div>

                                     </div>
                              </a>
                        </div>



                        <div class="col-12 col-md-3 col-sm-6">
                            <a routerLink="/hospital">
                                  <div class="info-box mb-3">
                                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cross"></i></span>
                                        <div class="info-box-content">
                                             <span class="info-box-text">HOSPITAL INFO</span>
                                             <span class="info-box-number"></span>
                                        </div>

                                  </div>
                           </a>
                        </div>




                        <div class="col-12 col-md-3 col-sm-6">
                            <a routerLink="//region">
                                  <div class="info-box mb-3">
                                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-building"></i></span>
                                        <div class="info-box-content">
                                             <span class="info-box-text">REgion</span>
                                             <span class="info-box-number"></span>
                                        </div>

                                  </div>
                           </a>
                        </div>                        






                     </div>
              </div>
        </section>
    </div>    

<!--<div>
    <div>
        <a routerLink="/users">User Management</a>
    </div>
    <div>
        <a routerLink="/groups">Groups</a>
    </div>
    <div class="">
        <a routerLink="/opd-vitals">OpD Vitals</a>
    </div>
    <div class="">
        <a routerLink="/hospital">Hospital Info</a>
    </div>
    <div class="">
        <a routerLink="/region">Regions</a>
    </div>
    
    
    
    
    
</div>


<div>
     <div>total staffs: {{total_users}}</div>
</div>-->
   <app-footer></app-footer>
</div>