<div class="wrapper">
        <app-dashboard-navbar></app-dashboard-navbar>
        <app-dashboard-side-navbar></app-dashboard-side-navbar>
      <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
        <div class="content-header">
              <div class="container-fluid">
                    <div class="row mb-2">
                            <div class="col-sm-6">
                                   <h1 class="m-0">AGADARKO</h1>
                            </div><!-- /.col -->
                            <div class="col-sm-6">
                                 <ol class="breadcrumb float-sm-right">
                                       <li class="breadcrumb-item"><a href="#">Home</a></li>
                                       <li class="breadcrumb-item active">Dashboard</li>
                                 </ol>
                            </div><!-- /.col -->
                    </div><!-- /.row -->
               </div><!-- /.container-fluid -->
        </div>
        <section class="content">
            <div class="container-fluid">

                  <div class="row">
                       <div class="col-lg-3 col-6">
                             <div class="small-box bg-dark">

                                  <div class="inner">
                                    <h3>150</h3>
                    
                                    <p>Patient OPD</p>
                                  </div>
                                  <div class="icon">
                                    <i class="ion ion-bag"></i>
                                  </div>
                                  <a href="/patient-opd" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                             </div>
                       </div>


                       <div class="col-lg-3 col-6">
                            <div class="small-box bg-dark">

                                 <div class="inner">
                                      <h3>150</h3>
               
                                     <p>Medical Care</p>
                                </div>
                                <div class="icon">
                                   <i class="ion ion-bag"></i>
                                </div>
                                <a href="/medical-care" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                       </div>


                       <div class="col-lg-3 col-6">
                             <div class="small-box bg-dark">

                                  <div class="inner">
                                  <h3>150</h3>
           
                                 <p>Laboratory</p>
                                  </div>
                                  <div class="icon">
                                       <i class="ion ion-bag"></i>
                                 </div>
                                 <a href="/laboratory" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                           </div>
                        </div>
                       

                        <div class="col-lg-3 col-6">
                            <div class="small-box bg-dark">

                                 <div class="inner">
                                 <h3>150</h3>
          
                                <p>Dietary Supplement & Sales</p>
                                 </div>
                                 <div class="icon">
                                      <i class="ion ion-bag"></i>
                                </div>
                                <a href="/dietary-supplement" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                       </div>

                       <div class="col-lg-3 col-6">
                             <div class="small-box bg-dark">

                                   <div class="inner">
                                        <h3>150</h3>
      
                                        <p>Settings</p>
                                   </div>
                                   <div class="icon">
                                         <i class="ion ion-bag"></i>
                                   </div>
                                       <a href="/setting" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                              </div>
                     </div>

                     <div class="col-lg-3 col-6">
                         <div class="small-box bg-dark">

                               <div class="inner">
                                    <h3>150</h3>
  
                                    <p>Reports</p>
                               </div>
                               <div class="icon">
                                     <i class="ion ion-bag"></i>
                               </div>
                                   <a href="/#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                          </div>
                   </div>

                  </div>
                  <!--<div>
                      <a routerLink="">Patient Opd</a>
                  </div>
                  <div>
                       <a routerLink="">Medical Care</a>
                  </div>
                  <div class="">
                        <a routerLink="/laboratory">Laboratory</a>
                  </div>
                  <div class="">
                         <a routerLink="/dietary-supplement">Dietary Supplement & Sales</a>
                  </div>
                  <div class="">
                      <a routerLink="/setting">Setting</a>
                  </div>-->
    
    
    
    
    
             </div>
        </section>
    </div>
    <app-dashboard-footer></app-dashboard-footer>
</div>

