<div class="wrapper">
    <app-topnavbar></app-topnavbar>
    <app-supplement-sidebar></app-supplement-sidebar>

    <div class="content-wrapper">
                       <div class="content-header">
                             <div class="container-fluid">
                                    <div class="row mb-2">
                                         <div class="col-sm-6">
                                                <h1 class="m-0">Supplements Inventory</h1>
                                         </div><!-- /.col -->
                                         <div class="col-sm-6">
                                                <ol class="breadcrumb float-sm-right">
                                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                                    <li class="breadcrumb-item active">supplement</li>
                                                </ol>
                                         </div><!-- /.col -->
                                    </div><!-- /.row -->
                              </div><!-- /.container-fluid -->
                        </div>
                        <section class="content">
                                <div class="container-fluid">
                                      <div class="row">
                                           <div class="col-12 col-md-3 col-sm-6">
                                                 <a routerLink="/product-sale">
                                                    <div class="info-box mb-3">
                                                              
                                                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-vial"></i></span>

                                                        <div class="info-box-content">
                                                            <span class="info-box-text">Product Sales</span>
                                                            <span class="info-box-number"></span>
                                                        </div>

                                                    </div>
                                                 </a>
                                           </div>

                                           <div class="col-12 col-md-3 col-sm-6">
                                            <a routerLink="/reports/daily-reports">
                                               <div class="info-box mb-3">
                                                         
                                                   <span class="info-box-icon bg-info elevation-1"><i class="fas fa-vial"></i></span>

                                                   <div class="info-box-content">
                                                       <span class="info-box-text">Daily Sale Report</span>
                                                       <span class="info-box-number"></span>
                                                   </div>

                                               </div>
                                             </a>
                                            </div>
                                            <div class="col-12 col-md-3 col-sm-6">
                                                <a routerLink="/reports/general-supplement-reports">
                                                   <div class="info-box mb-3">
                                                             
                                                       <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-vial"></i></span>
    
                                                       <div class="info-box-content">
                                                           <span class="info-box-text">Generate Reports</span>
                                                           <span class="info-box-number"></span>
                                                       </div>
    
                                                   </div>
                                                 </a>
                                            </div>


                                            <div class="col-12 col-md-3 col-sm-6">
                                                <a routerLink="/reporst/supplement-sales-reports">
                                                   <div class="info-box mb-3">
                                                             
                                                       <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-vial"></i></span>
    
                                                       <div class="info-box-content">
                                                           <span class="info-box-text">Generate Supplement <br>Reports</span>
                                                           <span class="info-box-number"></span>
                                                       </div>
    
                                                   </div>
                                                 </a>
                                            </div>



                                      </div>
                                </div>
                        </section>
    </div>
    <app-footer></app-footer>
</div>